# Archivos ejecutables
*.exe
*.exe~
*.dll
*.so
*.dylib

# Archivos de prueba y cobertura
*.test
*.out

# Directorios generados
bin/
dist/

# Archivos de Visual Studio Code
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db
